body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* header section */
.header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.header-content {
    position: relative;
    z-index: 1;
}

.navbar {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40 !important;
}

.nav-link {
    font-size: 1rem;
    color: #343a40 !important;
}

.nav-link:hover {
    color: #000 !important;
}

.btn-light {
    background-color: #fff;
    border: none;
    color: #343a40;
    transition: background-color 0.3s ease;
}

.btn-light:hover {
    background-color: #ddd;
    color: #343a40;
}

.btn-dark {
    background-color: #333;
    border: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-dark:hover {
    background-color: #444;
    color: #fff;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

.fadeInUp {
    animation-name: fadeInUp;
}

/* about section */
.about-section {
    padding: 60px 0;
    background-color: #f8f9fa;
    color: #333;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.lead {
    font-size: 1.16rem;
    margin-bottom: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.about-section .btn-dark {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.about-section .btn-dark:hover {
    background-color: #444;
    color: #fff;
}

@media (max-width: 768px) {
    .about-section .row {
        flex-direction: column-reverse;
    }

    .about-section .col-lg-6 {
        margin-bottom: 20px;
    }
}